

#headerOverlay {
    background-position: 0;
    padding: 0;
}



body {
    background: url(../images/gradfig.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

main {
    font-size: 30px;
    color: black;
}

article h2 {
    font-size: 30px;
}



h2, header {
    text-align: center;
    color: whitesmoke;
    font: bold;
}

li, footer {
    color: black;
}

h1 {
    text-shadow: 3px -2px 5px black;
    color: orange;
}

h2 {
    
    background-position: 0;
    padding: 0;
}


header {
    background-image: url('../images/greenchalkboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 75px;
}

    header p {
        text-shadow: 3px -2px 5px black;
        color: orange;
        font-size: 32px;
    }

aside {
    float: right;
}



article h2 {
    font-size: 45px;
    color: whitesmoke;
    padding: 0;
}
article h3 {
    
}

aside h2 {
    font-size: 45px;
    color: whitesmoke;
    padding: 0;
}


nav {
    border:2px solid orange;
    background-color: black;
}

nav li:hover {
    background-color: orange;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        color: whitesmoke;
        padding: 1.5em 7.2em;
    }
ol li {
    color: blue;
}

section b {
    font-size: 24px;
}
section  {
    border: 2px solid;
    box-shadow: 5px -2px 5px black;s
}

.personalinfo {
    text-align: center;
}

.socialmediainfo {
    text-align: center;
}

.headingstyle {
    font-style: italic;
    font-size: 32px;
}


.learn {
    text-align: center;
}


footer p a:hover {
    color: black;
    background-color: darkblue;
    color: black;
}

footer {
    text-align: center;
}
