

#headerOverlay {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    padding: 0;
}

body {
    background: url(../images/gradfig.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

main {
    font-size: 30px;
    color: black;
    background-repeat: repeat;
    background-size: cover;
}

article h2 {
    font-size: 30px;
}



h2, header {
    text-align: center;
    color: black;
    font: bold;
}

li, footer {
    color: black;
}

h1 {
    color: yellow;
}

header {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    font-size: 34px;
}

    header p {
        color: yellow;
        font-size: 24px;
    }

aside {
    float: right;
}
    
h2 {
    text-decoration: underline;
}



article h2 {
    font-size: 45px;
    color: black;
    padding: 0;
}

aside h2 {
    font-size: 45px;
    color: black;
    padding: 0;
}

ol li {
    color: blue;
}

nav li:hover {
    background-color: darkblue;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        color: blue;
        padding: .4em 1em;
        display: block;
    }

section b {
    font-size: 24px;
}

#Contacts {
    color: blue;
}

.personalinfo {
    text-align: center;
}

.socialmediainfo {
    text-align: center;
}

.headingstyle {
    font-style: italic;
    font-size: 32px;
}

nav ul {
    text-decoration: underline;
}


.learn {
    text-align: center;
}

footer p a:hover {
    color: black;
    background-color: darkblue;
    color: black;
}

footer {
    text-align: center;
}
