
main {
    margin: 25px
}
h1, h2, header {
    text-align: center;
    color: Red;
    font: bold;
    
}

header, main, footer {
    background-color: Lightgray;
}

h3 {
    color: Black;
}

p {
    color: Black;
}

li, footer {
    color: white;
}
header {
    font-family:'Times New Roman', Times, serif;
    color: red;
    font-size: 34px;
}
header p {
    color: red;
    font-size: 24px;
    
}

h2 {
    text-decoration: underline; 
}
nav ul {
    color: cornflowerblue;
    background-color: black;
    padding: 0;
    border-top:  dotted black;
    border-bottom: dotted black;
}
article h2 {
    color: white;
    background-color: black;
    padding: 0;
    border-top: cornflowerblue;
    border-bottom: solid cornflowerblue;
}
aside h2 {
    color: white;
    background-color: black;
    padding: 0;
    border-top: cornflowerblue;
    border-bottom: solid cornflowerblue;
}
ol li {
    color: forestgreen ;
}
nav li:hover {
    
    background-color: darkorange;
}

nav ul li {
    text-decoration-color: ;
    display: inline-block;
}

    nav ul li a {
        color: black;
        padding: .4em 1em;
        display: block;
    }
   
    #Contacts {
        color: cornflowerblue;
    }
    .personalinfo {
        text-align:center;
       
    }
    .socialmediainfo {
        text-align: center;
   
    }
    nav ul {
        background-color: saddlebrown;
    }







   

